# Empire Music Bot - Environment Variables
# Fill all required fields before deploying

API_ID=
API_HASH=
OWNER_ID=
LOGGER_ID=
BOT_TOKEN=
STRING_SESSION=
MONGO_DB_URI=
COOKIE_URL=

# Optional
DEEP_API=
API_KEY=
API_URL=
VIDEO_API_URL=
STRING_SESSION2=
STRING_SESSION3=
STRING_SESSION4=
STRING_SESSION5=
HEROKU_APP_NAME=
HEROKU_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SUPPORT_CHANNEL=https://t.me/EmpireMusicSupport
SUPPORT_CHAT=https://t.me/EmpireMusicChat
